<?xml version="1.0" encoding="UTF-8"?> 
<Configuration> 
	<Appenders> 
		<File name="FILE" fileName="/home/tomcat/logs/logfile.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>
        </File>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
	</Appenders> 
	<Loggers> 
		<Logger name="me.ahacross.mylord" level="DEBUG" additivity="true"/> 
		
		<!-- log SQL with timing information, post execution --> 
		<Logger name="org.mybatis" level="DEBUG">
			<AppenderRef ref="console" />
		</Logger>
		<!-- <Logger name="java.sql" level="DEBUG">
			<AppenderRef ref="console" />
		</Logger> -->
		<!-- <logger name="jdbc.sqltiming" level="INFO" additivity="true"> 
			<appender-ref ref="console" /> 
		</logger> --> 
		<logger name="org.springframework" level="INFO" additivity="true"> 
			<appender-ref ref="console" /> 
		</logger> 
		<!-- <logger name="java.sql.ResultSet" level="DEBUG" additivity="true"> 
			<appender-ref ref="console" /> 
		</logger>  -->
		<Root level="info"> 
<!-- 		 	<AppenderRef ref="console"/>
 -->            <AppenderRef ref="FILE"/>
		</Root> 
</Loggers> 
</Configuration>