<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.ahacross.mylord.bbs.BbsCategoryMappingMapper">

	<insert id="insert" parameterType="me.ahacross.mylord.bbs.vo.BbsCategoryMapping" >
		insert into bbs_category_mapping (bbs_id, category_id) 
		values (#{bbs_id}, #{category_id})
	</insert>
	
	<delete id="delete" parameterType="me.ahacross.mylord.bbs.vo.BbsCategoryMapping">
		delete from 
			bbs_category_mapping 
		where bbs_id = #{bbs_id} 
	</delete>
</mapper>