@CHARSET "UTF-8";

body {
	margin: 0;
}

#topMenu {
	height: 50px;
    color: #F0F0F0;
    background-color: black;
    text-align: center;
}

#topMenu .divTd {
	width: 50%;
	vertical-align: middle;
	cursor: pointer;
}

.width100 {
	width : 100%;
}

.width50 {
	width : 50%;
}
.divTable {
	display: table;
}

.divTr {
	display: table-row;
}

.divTd {
	display: table-cell;
}

.jui table.table > thead > tr > th {
  text-align: center;
}  

.center {
	text-align: center;
}

.link {
	cursor: pointer;
	color: #0c62a0 !important;
}

.hide {
	display: none;
}

.jui .window {
	-webkit-box-shadow : none;
	box-shadow : none;
	min-height: inherit;
	position: relative;
	color : #000;
}

.jui .table.classic.hover>tbody>tr:hover {
    background: #a48cc7;
}


.alertify.ajs-resizable .ajs-body .ajs-content {
	width:100%:
}

.thB {
	width : 20%;
	text-align: center;
	background-color: #E8F2FE;
}

.tab li {
	cursor: pointer;
}



.bigInput input[type=checkbox],
.bigInput input[type=radio] {
	/* Double-sized Checkboxes */
	-ms-transform: scale(1.8); /* IE */
	-moz-transform: scale(1.8); /* FF */
	-webkit-transform: scale(1.8); /* Safari and Chrome */
	-o-transform: scale(1.8); /* Opera */
	padding: 10px;
}

.listTd {
	font-size: 20px;
	width:50%;
	text-align: center;
	padding:20px;
}
.list {
	font-size: 15px;
    font-weight: 800;
    margin-top: 10px;
    border: 1px solid #c8c8c8;
	padding: 10px;
}


.divWrap {
	border-spacing: 0px;
	width: 100%;
}

.divWrap .divTr > *:first-child {
	width: auto;
	border: 1px solid #c8c8c8;
	border-radius: 4px;
	border-right: none;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;	
}

.divWrap .divTr > *:last-child {
	width: 26px;
	border: 1px solid #c8c8c8;
	border-radius: 4px;
	border-left: none;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	vertical-align: middle;
}

.divWrap .divTr > *:last-child .fa {
	font-size: 17px;
    vertical-align: middle;
    margin-left: 3px;
}

#replyRead .fa {
	font-size: 17px;
	cursor: pointer;
}

.pointer {
	cursor:pointer;
}

.tabHead {
	background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#f5f5f5 0,#f1f1f1 100%);
    background-image: linear-gradient(top,#f5f5f5 0,#f1f1f1 100%);
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#f1f1f1 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#f1f1f1 100%);
    background-image: -ms-linear-gradient(top,#f5f5f5 0,#f1f1f1 100%);
    border: 1px solid #dcdcdc;
    height: 31px;
    line-height: 30px;
    padding: 2px 15px;
    overflow:hidden;
}

.tab {
	display: flex;
    list-style: none;
    font-size: 12px;
    margin-left: -55px;
    margin-top: 4px;
}

.tab li {
	margin-top: 0;
    margin-bottom: -1px;
    margin-left: 2px;
}

.tab li a{
    text-decoration: none;
	color: #740cd2;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    background-image: -moz-linear-gradient(top,#fff 0,#f4f4f4 100%);
    background-image: linear-gradient(top,#fff 0,#f4f4f4 100%);
    background-image: -webkit-linear-gradient(top,#fff 0,#f4f4f4 100%);
    background-image: -o-linear-gradient(top,#fff 0,#f4f4f4 100%);
    background-image: -ms-linear-gradient(top,#fff 0,#f4f4f4 100%);
    border-radius: 4px 4px 0 0;
	padding: 10px 15px 7px 15px;
	margin-right: 2px;    
}

.tab li.active>a {
	color: #000;
    background-color: #fff;
    background-image: -moz-linear-gradient(top,#fff 0,#fff 100%);
    background-image: linear-gradient(top,#fff 0,#fff 100%);
    background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -o-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -ms-linear-gradient(top,#fff 0,#fff 100%);
    border-color: #ddd #ddd transparent;
    font-weight: 800;
}

.grid-state-circle{ width: 20px; height: 20px; border-radius: 10px;}
.grid-state-circle.green{ background: #339966;}
.grid-state-circle.orange{ background: #F27812;}
.grid-state-circle.red{ background: #DC0A0A;}

.attendState {color: #f5fff6;}
.attendState.green{ background: #339966;}
.attendState.orange{ background: #F27812;}
.attendState.red{ background: #DC0A0A;}

.tui-grid-table input[type=checkbox] {
  transform: scale(1.5);
}

.monthHead {
	background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#f5f5f5 0,#f1f1f1 100%);
    background-image: linear-gradient(top,#f5f5f5 0,#f1f1f1 100%);
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#f1f1f1 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#f1f1f1 100%);
    background-image: -ms-linear-gradient(top,#f5f5f5 0,#f1f1f1 100%);
    padding: 2px 15px;    
}

.cursor {
	cursor: pointer;
}